.game-container {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #ECECEC;
}

.game-header {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.score-displayer {
  position: absolute;
}

#dinosaur {
  position: absolute;
}

.cactus {
  position: absolute;
}
