/**************************************
 * We let Bootstrap handle most of the
 * layout & typography. Keep only the
 * game-specific styling here.
 **************************************/

.game-container {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #ECECEC;
}

#dinosaur {
  position: absolute;
}

.cactus {
  position: absolute;
}

body {
  background-color: #ffffff;
}

.flash-green {
  animation: greenFlash 1s;
}

@keyframes greenFlash {
  0% {
    background-color: white;
  }
  30% {
    background-color: #90EE90; /* Lighter green */
  }
  70% {
    background-color: #90EE90; /* Lighter green */
  }
  100% {
    background-color: white;
  }
}
